@model Sistema_GGYM.Models.Base_De_Datos.PRODUCTO
@{
    Layout = null;
    Sistema_GGYM.Models.Base_De_Datos.USUARIO usuario = new Sistema_GGYM.Models.Base_De_Datos.USUARIO().ObtenerUsuario((Sistema_GGYM.Models.SessionHelper.GetUser()));
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>GGYM - Contacto</title>
    <link rel="stylesheet" href="~/Source/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Source/css/Casa.css" media="screen">
    <link rel="shortcut icon" href="~/Source/images/ggymlogonormal.png">

    <!-- Estilos vista productos-->
    <link href="~/Source/css/Login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Source/User/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/css/Productos/css/slick-theme.css" rel="stylesheet" />
    <link href="~/Source/css/Productos/css/slick.css" rel="stylesheet" />
    <link href="~/Source/css/Productos/css/style.css" rel="stylesheet" />

    <script class="u-script" type="text/javascript" src="~/Source/js/Login/jquery.js"></script>
    <script class="u-script" type="text/javascript" src="~/Source/js/nicepage.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black:400">

</head>

<body class="u-body">


    <header class="u-clearfix u-header u-header" id="sec-52aa" style="background-color:white;">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">

            <a href="~/Default/Index" class="u-image u-logo u-image-1">
                <img src="~/Source/images/ggymlogonormal.png" class="u-logo-image u-logo-image-1">
            </a>

            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                    <rect y="1" width="16" height="2"></rect>
                                    <rect y="7" width="16" height="2"></rect>
                                    <rect y="13" width="16" height="2"></rect>
                                </symbol>
                            </defs>
                        </svg>
                    </a>
                </div>
                <div class="u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">

                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="~/Default/Index" style="padding: 10px 20px; font-weight:bold">Volver</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="~/Default/Productos" style="padding: 10px 20px; font-weight:bold">Tienda</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="~/Default/ListarCarrito" style="padding: 10px 20px; font-weight:bold">Carrito</a>
                        </li>

                        @if (Sistema_GGYM.Models.SessionHelper.GetUser() == 0)
                        {
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="~/Login/Index" style="padding: 10px 20px; font-weight:bold">Iniciar sesión</a>
                            </li>
                        }

                        @if (Sistema_GGYM.Models.SessionHelper.GetUser() > 0)
                        {
                            if (usuario.ID_TIPOUSUARIO == 4)
                            {
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="~/Administrador/Index" style="padding: 10px 20px; font-weight:bold">@usuario.NOMBRE @usuario.APELLIDO</a>
                                </li>
                            }
                            else
                            {
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="~/Usuario/Index" style="padding: 10px 20px; font-weight:bold">@usuario.NOMBRE @usuario.APELLIDO</a>
                                </li>
                            }
                        }



                    </ul>
                </div>
                <div class="u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">

                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="~/Default/Productos">Tienda</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="~/Default/AcercaDe">Acerca de</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="~/Default/Contacto">Contacto</a>
                                </li>
                                @if (Sistema_GGYM.Models.SessionHelper.GetUser() == 0)
                                {
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="~/Login/Index">Iniciar sesión</a>
                                    </li>
                                }

                                @if (Sistema_GGYM.Models.SessionHelper.GetUser() > 0)
                                {
                                    if (usuario.ID_TIPOUSUARIO == 4)
                                    {
                                        <li class="u-nav-item">
                                            <a class="u-button-style u-nav-link" href="~/Administrador/Index">@usuario.NOMBRE @usuario.APELLIDO</a>
                                            <!--A futuro estara una imagen-->
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="u-nav-item">
                                            <a class="u-button-style u-nav-link" href="~/Usuario/Index">@usuario.NOMBRE @usuario.APELLIDO</a>
                                            <!--A futuro estara una imagen-->
                                        </li>
                                    }

                                }

                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <hr />
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row card-box">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="@Model.IMAGEN" alt="">
                        </div>
                        <div class="product-preview">
                            <img src="@Model.IMAGEN" alt="">
                        </div>
                        <div class="product-preview">
                            <img src="@Model.IMAGEN" alt="">
                        </div>
                        <div class="product-preview">
                            <img src="@Model.IMAGEN" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->
                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="@Model.IMAGEN" alt="" height="150">
                        </div>
                        <div class="product-preview">
                            <img src="@Model.IMAGEN" alt="" height="150">
                        </div>
                        <div class="product-preview">
                            <img src="@Model.IMAGEN" alt="" height="150">
                        </div>
                        <div class="product-preview">
                            <img src="@Model.IMAGEN" alt="" height="150">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->
                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        @using (Html.BeginForm("Adtocart", "Default", FormMethod.Post))
                        {
                            @Html.TextBoxFor(x => x.ID_PRODUCTO, new { style = "display: none;" })

                            if (Model.STOCK == 0)
                            {
                                <h2 class="product-name">@Model.DESCRIPCION</h2>
                                <div>
                                    <h3 class="product-price">S/. @Model.PRECIO</h3>
                                    <span class="product-available">No hay stock por el momento</span>
                                </div>
                                <p>@Model.DESCRIPCION es un producto del tipo @Model.CATEGORIA_PRODUCTO.NOMBRE y es vendido por GGYM</p>

                                <div class="add-to-cart">
                                    <input type="number" name="cantidad" value="1" id="cantidad" min="1" max="20" disabled />
                                    <button type="submit" class="add-to-cart-btn" disabled><i class="fa fa-shopping-cart"></i>Añadir al carro</button>
                                </div>
                            }
                            else
                            {
                                <h2 class="product-name">@Model.DESCRIPCION</h2>
                                <div>
                                    <h3 class="product-price">S/. @Model.PRECIO</h3>
                                    <span class="product-available">Quedan @Model.STOCK en stock</span>
                                </div>
                                <p>@Model.DESCRIPCION es un producto del tipo @Model.CATEGORIA_PRODUCTO.NOMBRE y es vendido por GGYM</p>

                                <div class="add-to-cart">
                                    <input type="number" name="cantidad" value="1" id="cantidad" min="1" max="20" />
                                    <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Añadir al carro</button>
                                </div>
                            }

                            <ul class="product-links">
                                <li>Categoria:</li>
                                <li><a href="~/Default/ProductoCategoria/@Model.ID_CATEGORIA">@Model.CATEGORIA_PRODUCTO.NOMBRE</a></li>                             
                            </ul>
                            <ul class="product-links">
                                <li>Compartir:</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        }

                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->


    <script src="~/Source/css/Productos/js/jquery.min.js"></script>
    <script src="~/Source/css/Productos/js/bootstrap.min.js"></script>
    <script src="~/Source/css/Productos/js/slick.min.js"></script>
    <script src="~/Source/css/Productos/js/nouislider.min.js"></script>
    <script src="~/Source/css/Productos/js/jquery.zoom.min.js"></script>
    <script src="~/Source/css/Productos/js/main.js"></script>

</body>
</html>
