@model List<Sistema_GGYM.Models.Base_De_Datos.SEGUIMIENTO>
@{
    ViewBag.Title = "Seguimiento";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";

    Sistema_GGYM.Models.Base_De_Datos.IMC IMCusuario = ViewBag.Usuario;

    string contenidolabel = "";
    string contenidoseries = "";

    if (Model.Count > 0)
    {
        foreach (var seguimiento in Model)
        {
            //labels / fechas
            contenidolabel += "'" + seguimiento.FECHA.Value.ToString("dd/MM/yyyy") + "',";

            //series / peso
            contenidoseries += seguimiento.PESO + ",";
        }
    }
}

<!--Mostrando los datos de peso e imc-->
<div class="content">
    <div class="container">
        <div class="row">

            @if (IMCusuario != null)
            {
                <!--edad, peso, altura e imc-->

                <div class="col-lg-3 col-md-6">
                    <div class="card-box widget-user">
                        <div class="text-center">
                            <h2 class="text-custom">@IMCusuario.USUARIO.EDAD</h2>
                            <h5>Años</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card-box widget-user">
                        <div class="text-center">
                            <h2 class="text-danger">@IMCusuario.USUARIO.PESO</h2>
                            <h5>KG</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card-box widget-user">
                        <div class="text-center">
                            <h2 class="text-warning">@IMCusuario.USUARIO.ESTATURA</h2>
                            <h5>m de altura</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card-box widget-user">
                        <div class="text-center">
                            @if (Convert.ToDouble(IMCusuario.IMC1) < 18.5)
                            {
                                <h2 class="text-info">@IMCusuario.IMC1 - Delgadez extrema</h2>
                            }
                            @if (Convert.ToDouble(IMCusuario.IMC1) >= 18.5 && Convert.ToDouble(IMCusuario.IMC1) < 24.9)
                            {
                                <h2 class="text-info">@IMCusuario.IMC1 - Peso normal</h2>
                            }
                            @if (Convert.ToDouble(IMCusuario.IMC1) >= 25 && Convert.ToDouble(IMCusuario.IMC1) < 29.9)
                            {
                                <h2 class="text-info">@IMCusuario.IMC1 - Sobrepeso</h2>
                            }
                            @if (Convert.ToDouble(IMCusuario.IMC1) >= 30 && Convert.ToDouble(IMCusuario.IMC1) < 34.9)
                            {
                                <h2 class="text-info">@IMCusuario.IMC1 - Obesidad</h2>
                            }
                            @if (Convert.ToDouble(IMCusuario.IMC1) >= 35)
                            {
                                <h2 class="text-info">@IMCusuario.IMC1 - Obesidad extrema</h2>
                            }
                            <h5>IMC</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <!--CHART DEL SEGUMIENTO-->
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">Evolucion del peso</h4>
                        <div id="chart-with-area" class="ct-chart ct-golden-section"></div>
                    </div>
                </div>
            }
            else
            {
                <h1 style="color:red; text-align:center">Ingrese información acerca de su peso y estatura para poder calcular su IMC</h1>
            }
        </div>
    </div>
</div>

<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil-->
<script src="~/Source/js/ImagenDePerfil.js"></script>

<!--Jquery-->
<script src="~/Source/User/js/jquery.min.js"></script>

<!--Chartist Chart-->
<script src="~/Source/User/plugins/chartist/dist/chartist.min.js"></script>
<script src="~/Source/User/plugins/chartist/dist/chartist-plugin-tooltip.min.js"></script>

<script type="text/javascript">

    new Chartist.Line('#chart-with-area', {
        labels: [@Html.Raw(contenidolabel)],
        series: [
            [@Html.Raw(contenidoseries)]
        ]
    }, {
        low: 0,
        showArea: true,
        plugins: [
            Chartist.plugins.tooltip()
        ]
    });

</script>
