@model List<Sistema_GGYM.Models.Base_De_Datos.USUARIO>
@{
    ViewBag.Title = "CoachHorario";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
    List<Sistema_GGYM.Models.Base_De_Datos.HORARIO> horarios = ViewBag.horario;
    Sistema_GGYM.Models.Base_De_Datos.USUARIO usercookie = new Sistema_GGYM.Models.Base_De_Datos.USUARIO().ObtenerUsuario((Sistema_GGYM.Models.SessionHelper.GetUser()));
}

<!--LISTA DE HORARIOS DEL COACH-->

<div class="content">
    <div class="container">

        <div class="row">

            <!--Se listaran los horarios por descripcion, encargado y hora de inicio y fin-->
            @foreach (var hora in horarios)
            {
                foreach (var user in Model)
                {
                    if (user.ID_USUARIO == usercookie.ID_USUARIO && user.ID_TIPOUSUARIO == 3)
                    {
                        if (user.ID_USUARIO == hora.ID_USUARIO)
                        {
                            <div class="col-lg-4">
                                <div class="portlet">
                                    <div class="portlet-heading portlet-default">
                                        <h3 class="portlet-title">
                                            Horario @hora.ID_HORARIO
                                        </h3>
                                        <div class="portlet-widgets">
                                            <a href="javascript:;" data-toggle="reload"><i class="zmdi zmdi-refresh"></i></a>
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#bg-primary">
                                                <i class="zmdi zmdi-minus"></i>
                                            </a>
                                            <a href="#" data-toggle="remove"><i class="zmdi zmdi-close"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="bg-primary" class="panel-collapse collapse in">
                                        <div class="portlet-body">
                                            <p style="text-align: justify">
                                                @hora.DESCRIPCION
                                            </p>

                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <label>Duracion: @hora.HORA_INICIO - @hora.HORA_FIN</label>
                                        <label>Fecha: del @hora.FECHA_INICIO al @hora.FECHA_FIN</label>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>