@model List<Sistema_GGYM.Models.Base_De_Datos.USUARIO>
@{
    ViewBag.Title = "Horario";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";

    List<Sistema_GGYM.Models.Base_De_Datos.HORARIO> horarios = ViewBag.horario;
    List<Sistema_GGYM.Models.Base_De_Datos.REGISTRO> registro = ViewBag.registro;
    int i = 0;


    //OBTENCION DEL ID DEL USUARIO
    Sistema_GGYM.Models.Base_De_Datos.USUARIO iduser = new Sistema_GGYM.Models.Base_De_Datos.USUARIO().ObtenerUsuario((Sistema_GGYM.Models.SessionHelper.GetUser()));
}

<!--LISTA DE HORARIOS-->

<div class="content">
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <div class="card-box">

                    <h4 class="header-title m-t-0 m-b-30">Entrenadores</h4>

                    <!--LISTA DE ENTRENADORES-->

                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Edad</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var usuario in Model)
                            {
                                if (usuario.ID_TIPOUSUARIO == 3)
                                {
                                    <tr>
                                        <td>@usuario.NOMBRE @usuario.APELLIDO</td>
                                        <td>@usuario.EDAD</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>


                <div class="card-box">

                    <h4 class="header-title m-t-0 m-b-30">Videollamadas</h4>

                    <ul class="list-group m-b-0 user-list">

                        <!--LISTA DE HORARIOS REGISTRADOS-->

                        @foreach (var user in Model)
                        {
                            if (user.ID_USUARIO == iduser.ID_USUARIO)
                            {

                                foreach (var item in registro)
                                {
                                    if (user.ID_USUARIO == item.ID_USUARIO)
                                    {
                                        string entrenadorn = "";

                                        <!--Extraccion del entrenador-->
                                        foreach (var entrenador in Model)
                                        {
                                            if (item.HORARIO.ID_USUARIO == entrenador.ID_USUARIO)
                                            {
                                                entrenadorn = entrenador.NOMBRE + entrenador.APELLIDO;
                                            }
                                        }

                                        <li class="list-group-item">
                                            <a href="~/Usuario/Videollamada/@item.ID_HORARIO@(entrenadorn)" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="~/Source/images/ggymlogo.png" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Entrenamiento @item.ID_HORARIO</span>
                                                    <span class="desc">@item.HORARIO.DESCRIPCION</span>
                                                    <span class="desc">@item.HORARIO.HORA_INICIO.ToString().Substring(0, 5) - @item.HORARIO.HORA_FIN.ToString().Substring(0, 5)</span>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }

                            }
                        }
                    </ul>

                </div>
            </div>

            <!-- Filtro para que no aparescan en los que te registraste -->
            <!-- Se listaran los horarios por descripcion, encargado y hora de inicio y fin -->
            <div class="col-md-7">
                @foreach (var usuario in Model)
                {
                    if (iduser.ID_USUARIO != usuario.ID_USUARIO)
                    {

                        foreach (var dato in horarios)
                        {
                            i = i + 2;
                            if (usuario.ID_USUARIO == dato.ID_USUARIO && usuario.ID_TIPOUSUARIO == 3)
                            {
                                using (Html.BeginForm("GuardarHorario", "Usuario", FormMethod.Post, new { id = "frm-horario" }))
                                {
                                    //Extraccion del id del registro
                                    foreach (var reg in registro)
                                    {
                                        if (reg.ID_HORARIO == dato.ID_HORARIO && reg.ID_USUARIO == iduser.ID_USUARIO)
                                        {
                                            <input type="text" name="idregistro" value="@reg.ID_REGISTRO" hidden />
                                            break;
                                        }
                                        else if (reg.ID_HORARIO != dato.ID_HORARIO && reg.ID_USUARIO != iduser.ID_USUARIO)
                                        {
                                            <input type="text" name="idregistro" value="0" hidden />
                                        }
                                    }

                                    <input type="text" name="iduser" value="@iduser.ID_USUARIO" hidden />
                                    <input type="text" name="idhorario" value="@dato.ID_HORARIO" hidden />

                                    <div class="panel panel-color panel-tabs panel-collapse panel-custom">

                                        <div class="panel-heading">
                                            <ul class="nav nav-pills pull-right">
                                                <li class="active">
                                                    <a href="#navpills-@(i)" data-toggle="tab" aria-expanded="true">Descripcion</a>
                                                </li>
                                                <li class="">
                                                    <a href="#navpills-@(i+1)" data-toggle="tab" aria-expanded="false">Horario</a>
                                                </li>
                                            </ul>
                                            <!--Abrir modal de rellenar campos faltante-->

                                            <h3 class="panel-title">
                                                <button type="submit" class="btn btn-default waves-effect m-b-5"> <i class="fa zmdi zmdi-plus-circle-o m-r-5"></i> <span>Agregar</span></button>
                                                Horario @dato.ID_HORARIO por @usuario.NOMBRE @usuario.APELLIDO
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content">
                                                <div id="navpills-@(i)" class="tab-pane fade in active">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>
                                                                @dato.DESCRIPCION
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="navpills-@(i+1)" class="tab-pane fade">
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <p>Hora</p>
                                                            <p>@dato.HORA_INICIO.ToString().Substring(0, 5) - @dato.HORA_FIN.ToString().Substring(0, 5)</p>

                                                            <p>Fecha inicio y fin</p>
                                                            <p>@dato.FECHA_INICIO.ToString("dd/MM/yyyy") - @dato.FECHA_FIN.ToString("dd/MM/yyyy")</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil-->
<script src="~/Source/js/ImagenDePerfil.js"></script>