@model List<Sistema_GGYM.Models.Base_De_Datos.USUARIO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
}

<div class="content">
    <div class="container">

        <div class="row">

            <!--TEST DE FICHAS DE LOS USARIOS-->
            @foreach (var usuario in Model)
            {
                if (usuario.TIPO_USUARIO.IDTIPOUSUARIO == 3 || usuario.TIPO_USUARIO.IDTIPOUSUARIO == 4)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div>
                                @if (usuario.NOMBRE.Contains("BAYRON"))
                                {
                                    <img src="~/Source/images/Fotos/Bayron.jpg" class="img-responsive img-circle" alt="user">
                                }
                                else if (usuario.NOMBRE.Contains("PAOLO"))
                                {
                                    <img src="~/Source/images/Fotos/paolo.jpg" class="img-responsive img-circle" alt="user">
                                }
                                else if (usuario.NOMBRE.Contains("DANIEL"))
                                {
                                    <img src="~/Source/images/Fotos/danielo.jpg" class="img-responsive img-circle" alt="user">
                                }
                                else if (usuario.NOMBRE.Contains("ALVARO"))
                                {
                                    <img src="~/Source/images/Fotos/alvaro.jpg" class="img-responsive img-circle" alt="user">
                                }
                                else if (usuario.NOMBRE.Contains("PIERO"))
                                {
                                    <img src="~/Source/images/Fotos/piero.jpg" class="img-responsive img-circle" alt="user">
                                }
                                else if (usuario.NOMBRE.Contains("CAMILA"))
                                {
                                    <img src="~/Source/images/Fotos/camila.jpg" class="img-responsive img-circle" alt="user">
                                }
                                else
                                {
                                    <img src="~/Source/User/images/users/user-icon.jpg" class="img-responsive img-circle" alt="user">
                                }

                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5 font-600">@usuario.NOMBRE @usuario.APELLIDO</h4>
                                    <p class="text-muted m-b-5 font-13">@usuario.EMAIL</p>

                                    @if (usuario.TIPO_USUARIO.IDTIPOUSUARIO == 1)
                                    {
                                        <small class="text-danger"><b>@usuario.TIPO_USUARIO.DESCRIPCION</b></small>
                                    }
                                    else if (usuario.TIPO_USUARIO.IDTIPOUSUARIO == 2)
                                    {
                                        <small class="text-warning"><b>@usuario.TIPO_USUARIO.DESCRIPCION</b></small>
                                    }
                                    else if (usuario.TIPO_USUARIO.IDTIPOUSUARIO == 3)
                                    {
                                        <small class="text-success"><b>@usuario.TIPO_USUARIO.DESCRIPCION</b></small>
                                    }
                                    else if (usuario.TIPO_USUARIO.IDTIPOUSUARIO == 4)
                                    {
                                        <small class="text-primary"><b>@usuario.TIPO_USUARIO.DESCRIPCION</b></small>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>


        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffithouse.trainner%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1392035384497953" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card-box">
                    <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                    <h4 class="header-title m-t-0 m-b-30">Ultimas sesiones</h4>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre de la sesión</th>
                                    <th>Hora inicio</th>
                                    <th>Hora fin</th>
                                    <th>Estado</th>
                                    <th>Entrenador</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Yoga</td>
                                    <td>9:10 am</td>
                                    <td>10:00 am</td>
                                    <td><span class="label label-danger">Terminado</span></td>
                                    <td>Entrenador(a) Valeria</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Rutina de estiramiento</td>
                                    <td>10:00 am</td>
                                    <td>11:40 am</td>
                                    <td><span class="label label-danger">Terminado</span></td>
                                    <td>Entrenador(a) Rafael</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Rutina de piernas</td>
                                    <td>3:00 pm</td>
                                    <td>6:00 pm</td>
                                    <td><span class="label label-danger">Terminado</span></td>
                                    <td>Entrenador(a) Rafael</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Rutina de pecho</td>
                                    <td>6:00 pm</td>
                                    <td>8:00 pm</td>
                                    <td><span class="label label-danger">Terminado</span></td>
                                    <td>Entrenador(a) Rafael</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Rutina de brazos</td>
                                    <td>8:00 pm</td>
                                    <td>10:00 pm</td>
                                    <td><span class="label label-default">En curso</span></td>
                                    <td>Entrenador(a) Matias</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil-->
<script src="~/Source/js/ImagenDePerfil.js"></script>